openapi: 3.1.0
info:
  title: OpenAI Audio & Realtime API
  description: OpenAI Audio API - Transcription, Translation, Speech, and Realtime streaming endpoints. Filtered from the official OpenAI API spec (Stainless-hosted).
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
servers:
  - url: https://api.openai.com/v1
security:
  - ApiKeyAuth: []
tags:
  - name: Audio
    description: Turn audio into text or text into audio.
paths:
  /audio/speech:
    post:
      operationId: createSpeech
      tags:
        - Audio
      summary: Create speech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpeechRequest'
      responses:
        '200':
          description: OK
          headers:
            Transfer-Encoding:
              schema:
                type: string
              description: chunked
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateSpeechResponseStreamEvent'
      x-oaiMeta:
        name: Create speech
        group: audio
        returns: The audio file content or a [stream of audio events](https://platform.openai.com/docs/api-reference/audio/speech-audio-delta-event).
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.openai.com/v1/audio/speech \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -H "Content-Type: application/json" \
                  -d '{
                    "model": "gpt-4o-mini-tts",
                    "input": "The quick brown fox jumped over the lazy dog.",
                    "voice": "alloy"
                  }' \
                  --output speech.mp3
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                speech = client.audio.speech.create(
                    input="input",
                    model="string",
                    voice="ash",
                )
                print(speech)
                content = speech.read()
                print(content)
              javascript: |
                import fs from "fs";
                import path from "path";
                import OpenAI from "openai";

                const openai = new OpenAI();

                const speechFile = path.resolve("./speech.mp3");

                async function main() {
                  const mp3 = await openai.audio.speech.create({
                    model: "gpt-4o-mini-tts",
                    voice: "alloy",
                    input: "Today is a wonderful day to build something people love!",
                  });
                  console.log(speechFile);
                  const buffer = Buffer.from(await mp3.arrayBuffer());
                  await fs.promises.writeFile(speechFile, buffer);
                }
                main();
              csharp: |
                using System;
                using System.IO;

                using OpenAI.Audio;

                AudioClient client = new(
                    model: "gpt-4o-mini-tts",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                BinaryData speech = client.GenerateSpeech(
                    text: "The quick brown fox jumped over the lazy dog.",
                    voice: GeneratedSpeechVoice.Alloy
                );

                using FileStream stream = File.OpenWrite("speech.mp3");
                speech.ToStream().CopyTo(stream);
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const speech = await client.audio.speech.create({
                  input: 'input',
                  model: 'string',
                  voice: 'ash',
                });

                console.log(speech);

                const content = await speech.blob();
                console.log(content);
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"),
                  )
                  speech, err := client.Audio.Speech.New(context.TODO(), openai.AudioSpeechNewParams{
                    Input: "input",
                    Model: openai.SpeechModel("string"),
                    Voice: openai.AudioSpeechNewParamsVoiceAsh,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", speech)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.core.http.HttpResponse;
                import com.openai.models.audio.speech.SpeechCreateParams;
                import com.openai.models.audio.speech.SpeechModel;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        SpeechCreateParams params = SpeechCreateParams.builder()
                            .input("input")
                            .model(SpeechModel.of("string"))
                            .voice(SpeechCreateParams.Voice.ASH)
                            .build();
                        HttpResponse speech = client.audio().speech().create(params);
                    }
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(api_key: "My API Key")

                speech = openai.audio.speech.create(input: "input", model: :string, voice: :ash)

                puts(speech)
          - title: SSE Stream Format
            request:
              curl: |
                curl https://api.openai.com/v1/audio/speech \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -H "Content-Type: application/json" \
                  -d '{
                    "model": "gpt-4o-mini-tts",
                    "input": "The quick brown fox jumped over the lazy dog.",
                    "voice": "alloy",
                    "stream_format": "sse"
                  }'
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const speech = await client.audio.speech.create({
                  input: 'input',
                  model: 'string',
                  voice: 'ash',
                });

                console.log(speech);

                const content = await speech.blob();
                console.log(content);
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                speech = client.audio.speech.create(
                    input="input",
                    model="string",
                    voice="ash",
                )
                print(speech)
                content = speech.read()
                print(content)
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"),
                  )
                  speech, err := client.Audio.Speech.New(context.TODO(), openai.AudioSpeechNewParams{
                    Input: "input",
                    Model: openai.SpeechModel("string"),
                    Voice: openai.AudioSpeechNewParamsVoiceAsh,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", speech)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.core.http.HttpResponse;
                import com.openai.models.audio.speech.SpeechCreateParams;
                import com.openai.models.audio.speech.SpeechModel;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        SpeechCreateParams params = SpeechCreateParams.builder()
                            .input("input")
                            .model(SpeechModel.of("string"))
                            .voice(SpeechCreateParams.Voice.ASH)
                            .build();
                        HttpResponse speech = client.audio().speech().create(params);
                    }
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(api_key: "My API Key")

                speech = openai.audio.speech.create(input: "input", model: :string, voice: :ash)

                puts(speech)
      description: Generates audio from the input text.
      parameters: []
  /audio/transcriptions:
    post:
      operationId: createTranscription
      tags:
        - Audio
      summary: Create transcription
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/CreateTranscriptionResponseJson'
                  - $ref: '#/components/schemas/CreateTranscriptionResponseDiarizedJson'
                    x-stainless-skip:
                      - go
                  - $ref: '#/components/schemas/CreateTranscriptionResponseVerboseJson'
                discriminator:
                  propertyName: task
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateTranscriptionResponseStreamEvent'
      x-oaiMeta:
        name: Create transcription
        group: audio
        returns: The [transcription object](https://platform.openai.com/docs/api-reference/audio/json-object), a [diarized transcription object](https://platform.openai.com/docs/api-reference/audio/diarized-json-object), a [verbose transcription object](https://platform.openai.com/docs/api-reference/audio/verbose-json-object), or a [stream of transcript events](https://platform.openai.com/docs/api-reference/audio/transcript-text-delta-event).
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.openai.com/v1/audio/transcriptions \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -H "Content-Type: multipart/form-data" \
                  -F file="@/path/to/file/audio.mp3" \
                  -F model="gpt-4o-transcribe"
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                transcription = client.audio.transcriptions.create(
                    file=b"raw file contents",
                    model="gpt-4o-transcribe",
                )
                print(transcription)
              javascript: |
                import fs from "fs";
                import OpenAI from "openai";

                const openai = new OpenAI();

                async function main() {
                  const transcription = await openai.audio.transcriptions.create({
                    file: fs.createReadStream("audio.mp3"),
                    model: "gpt-4o-transcribe",
                  });

                  console.log(transcription.text);
                }
                main();
              csharp: |
                using System;

                using OpenAI.Audio;
                string audioFilePath = "audio.mp3";

                AudioClient client = new(
                    model: "gpt-4o-transcribe",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                AudioTranscription transcription = client.TranscribeAudio(audioFilePath);

                Console.WriteLine($"{transcription.Text}");
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const transcription = await client.audio.transcriptions.create({
                  file: fs.createReadStream('speech.mp3'),
                  model: 'gpt-4o-transcribe',
                });

                console.log(transcription);
              go: |
                package main

                import (
                  "bytes"
                  "context"
                  "fmt"
                  "io"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"),
                  )
                  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{
                    File: io.Reader(bytes.NewBuffer([]byte("some file contents"))),
                    Model: openai.AudioModelGPT4oTranscribe,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", transcription)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.audio.AudioModel;
                import com.openai.models.audio.transcriptions.TranscriptionCreateParams;
                import com.openai.models.audio.transcriptions.TranscriptionCreateResponse;
                import java.io.ByteArrayInputStream;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        TranscriptionCreateParams params = TranscriptionCreateParams.builder()
                            .file(ByteArrayInputStream("some content".getBytes()))
                            .model(AudioModel.GPT_4O_TRANSCRIBE)
                            .build();
                        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);
                    }
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(api_key: "My API Key")

                transcription = openai.audio.transcriptions.create(file: Pathname(__FILE__), model: :"gpt-4o-transcribe")

                puts(transcription)
            response: |
              {
                "text": "Imagine the wildest idea that you've ever had, and you're curious about how it might scale to something that's a 100, a 1,000 times bigger. This is a place where you can get to do that.",
                "usage": {
                  "type": "tokens",
                  "input_tokens": 14,
                  "input_token_details": {
                    "text_tokens": 0,
                    "audio_tokens": 14
                  },
                  "output_tokens": 45,
                  "total_tokens": 59
                }
              }
          - title: Diarization
            request:
              curl: |
                curl https://api.openai.com/v1/audio/transcriptions \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -H "Content-Type: multipart/form-data" \
                  -F file="@/path/to/file/meeting.wav" \
                  -F model="gpt-4o-transcribe-diarize" \
                  -F response_format="diarized_json" \
                  -F chunking_strategy=auto \
                  -F 'known_speaker_names[]=agent' \
                  -F 'known_speaker_references[]=data:audio/wav;base64,AAA...'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                transcription = client.audio.transcriptions.create(
                    file=b"raw file contents",
                    model="gpt-4o-transcribe",
                )
                print(transcription)
              javascript: |
                import fs from "fs";
                import OpenAI from "openai";

                const openai = new OpenAI();

                const speakerRef = fs.readFileSync("agent.wav").toString("base64");

                const transcript = await openai.audio.transcriptions.create({
                  file: fs.createReadStream("meeting.wav"),
                  model: "gpt-4o-transcribe-diarize",
                  response_format: "diarized_json",
                  chunking_strategy: "auto",
                  extra_body: {
                    known_speaker_names: ["agent"],
                    known_speaker_references: [`data:audio/wav;base64,${speakerRef}`],
                  },
                });

                console.log(transcript.segments);
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const transcription = await client.audio.transcriptions.create({
                  file: fs.createReadStream('speech.mp3'),
                  model: 'gpt-4o-transcribe',
                });

                console.log(transcription);
              go: |
                package main

                import (
                  "bytes"
                  "context"
                  "fmt"
                  "io"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"),
                  )
                  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{
                    File: io.Reader(bytes.NewBuffer([]byte("some file contents"))),
                    Model: openai.AudioModelGPT4oTranscribe,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", transcription)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.audio.AudioModel;
                import com.openai.models.audio.transcriptions.TranscriptionCreateParams;
                import com.openai.models.audio.transcriptions.TranscriptionCreateResponse;
                import java.io.ByteArrayInputStream;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        TranscriptionCreateParams params = TranscriptionCreateParams.builder()
                            .file(ByteArrayInputStream("some content".getBytes()))
                            .model(AudioModel.GPT_4O_TRANSCRIBE)
                            .build();
                        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);
                    }
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(api_key: "My API Key")

                transcription = openai.audio.transcriptions.create(file: Pathname(__FILE__), model: :"gpt-4o-transcribe")

                puts(transcription)
            response: |
              {
                "task": "transcribe",
                "duration": 27.4,
                "text": "Agent: Thanks for calling OpenAI support.\nA: Hi, I'm trying to enable diarization.\nAgent: Happy to walk you through the steps.",
                "segments": [
                  {
                    "type": "transcript.text.segment",
                    "id": "seg_001",
                    "start": 0.0,
                    "end": 4.7,
                    "text": "Thanks for calling OpenAI support.",
                    "speaker": "agent"
                  },
                  {
                    "type": "transcript.text.segment",
                    "id": "seg_002",
                    "start": 4.7,
                    "end": 11.8,
                    "text": "Hi, I'm trying to enable diarization.",
                    "speaker": "A"
                  },
                  {
                    "type": "transcript.text.segment",
                    "id": "seg_003",
                    "start": 12.1,
                    "end": 18.5,
                    "text": "Happy to walk you through the steps.",
                    "speaker": "agent"
                  }
                ],
                "usage": {
                  "type": "duration",
                  "seconds": 27
                }
              }
          - title: Streaming
            request:
              curl: |
                curl https://api.openai.com/v1/audio/transcriptions \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -H "Content-Type: multipart/form-data" \
                  -F file="@/path/to/file/audio.mp3" \
                  -F model="gpt-4o-mini-transcribe" \
                  -F stream=true
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                transcription = client.audio.transcriptions.create(
                    file=b"raw file contents",
                    model="gpt-4o-transcribe",
                )
                print(transcription)
              javascript: |
                import fs from "fs";
                import OpenAI from "openai";

                const openai = new OpenAI();

                const stream = await openai.audio.transcriptions.create({
                  file: fs.createReadStream("audio.mp3"),
                  model: "gpt-4o-mini-transcribe",
                  stream: true,
                });

                for await (const event of stream) {
                  console.log(event);
                }
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const transcription = await client.audio.transcriptions.create({
                  file: fs.createReadStream('speech.mp3'),
                  model: 'gpt-4o-transcribe',
                });

                console.log(transcription);
              go: |
                package main

                import (
                  "bytes"
                  "context"
                  "fmt"
                  "io"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"),
                  )
                  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{
                    File: io.Reader(bytes.NewBuffer([]byte("some file contents"))),
                    Model: openai.AudioModelGPT4oTranscribe,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", transcription)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.audio.AudioModel;
                import com.openai.models.audio.transcriptions.TranscriptionCreateParams;
                import com.openai.models.audio.transcriptions.TranscriptionCreateResponse;
                import java.io.ByteArrayInputStream;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        TranscriptionCreateParams params = TranscriptionCreateParams.builder()
                            .file(ByteArrayInputStream("some content".getBytes()))
                            .model(AudioModel.GPT_4O_TRANSCRIBE)
                            .build();
                        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);
                    }
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(api_key: "My API Key")

                transcription = openai.audio.transcriptions.create(file: Pathname(__FILE__), model: :"gpt-4o-transcribe")

                puts(transcription)
            response: |
              data: {"type":"transcript.text.delta","delta":"I","logprobs":[{"token":"I","logprob":-0.00007588794,"bytes":[73]}]}

              data: {"type":"transcript.text.delta","delta":" see","logprobs":[{"token":" see","logprob":-3.1281633e-7,"bytes":[32,115,101,101]}]}

              data: {"type":"transcript.text.delta","delta":" skies","logprobs":[{"token":" skies","logprob":-2.3392786e-6,"bytes":[32,115,107,105,101,115]}]}

              data: {"type":"transcript.text.delta","delta":" of","logprobs":[{"token":" of","logprob":-3.1281633e-7,"bytes":[32,111,102]}]}

              data: {"type":"transcript.text.delta","delta":" blue","logprobs":[{"token":" blue","logprob":-1.0280384e-6,"bytes":[32,98,108,117,101]}]}

              data: {"type":"transcript.text.delta","delta":" and","logprobs":[{"token":" and","logprob":-0.0005108566,"bytes":[32,97,110,100]}]}

              data: {"type":"transcript.text.delta","delta":" clouds","logprobs":[{"token":" clouds","logprob":-1.9361265e-7,"bytes":[32,99,108,111,117,100,115]}]}

              data: {"type":"transcript.text.delta","delta":" of","logprobs":[{"token":" of","logprob":-1.9361265e-7,"bytes":[32,111,102]}]}

              data: {"type":"transcript.text.delta","delta":" white","logprobs":[{"token":" white","logprob":-7.89631e-7,"bytes":[32,119,104,105,116,101]}]}

              data: {"type":"transcript.text.delta","delta":",","logprobs":[{"token":",","logprob":-0.0014890312,"bytes":[44]}]}

              data: {"type":"transcript.text.delta","delta":" the","logprobs":[{"token":" the","logprob":-0.0110956915,"bytes":[32,116,104,101]}]}

              data: {"type":"transcript.text.delta","delta":" bright","logprobs":[{"token":" bright","logprob":0.0,"bytes":[32,98,114,105,103,104,116]}]}

              data: {"type":"transcript.text.delta","delta":" blessed","logprobs":[{"token":" blessed","logprob":-0.000045848617,"bytes":[32,98,108,101,115,115,101,100]}]}

              data: {"type":"transcript.text.delta","delta":" days","logprobs":[{"token":" days","logprob":-0.000010802739,"bytes":[32,100,97,121,115]}]}

              data: {"type":"transcript.text.delta","delta":",","logprobs":[{"token":",","logprob":-0.00001700133,"bytes":[44]}]}

              data: {"type":"transcript.text.delta","delta":" the","logprobs":[{"token":" the","logprob":-0.0000118755715,"bytes":[32,116,104,101]}]}

              data: {"type":"transcript.text.delta","delta":" dark","logprobs":[{"token":" dark","logprob":-5.5122365e-7,"bytes":[32,100,97,114,107]}]}

              data: {"type":"transcript.text.delta","delta":" sacred","logprobs":[{"token":" sacred","logprob":-5.4385737e-6,"bytes":[32,115,97,99,114,101,100]}]}

              data: {"type":"transcript.text.delta","delta":" nights","logprobs":[{"token":" nights","logprob":-4.00813e-6,"bytes":[32,110,105,103,104,116,115]}]}

              data: {"type":"transcript.text.delta","delta":",","logprobs":[{"token":",","logprob":-0.0036910512,"bytes":[44]}]}

              data: {"type":"transcript.text.delta","delta":" and","logprobs":[{"token":" and","logprob":-0.0031903093,"bytes":[32,97,110,100]}]}

              data: {"type":"transcript.text.delta","delta":" I","logprobs":[{"token":" I","logprob":-1.504853e-6,"bytes":[32,73]}]}

              data: {"type":"transcript.text.delta","delta":" think","logprobs":[{"token":" think","logprob":-4.3202e-7,"bytes":[32,116,104,105,110,107]}]}

              data: {"type":"transcript.text.delta","delta":" to","logprobs":[{"token":" to","logprob":-1.9361265e-7,"bytes":[32,116,111]}]}

              data: {"type":"transcript.text.delta","delta":" myself","logprobs":[{"token":" myself","logprob":-1.7432603e-6,"bytes":[32,109,121,115,101,108,102]}]}

              data: {"type":"transcript.text.delta","delta":",","logprobs":[{"token":",","logprob":-0.29254505,"bytes":[44]}]}

              data: {"type":"transcript.text.delta","delta":" what","logprobs":[{"token":" what","logprob":-0.016815351,"bytes":[32,119,104,97,116]}]}

              data: {"type":"transcript.text.delta","delta":" a","logprobs":[{"token":" a","logprob":-3.1281633e-7,"bytes":[32,97]}]}

              data: {"type":"transcript.text.delta","delta":" wonderful","logprobs":[{"token":" wonderful","logprob":-2.1008714e-6,"bytes":[32,119,111,110,100,101,114,102,117,108]}]}

              data: {"type":"transcript.text.delta","delta":" world","logprobs":[{"token":" world","logprob":-8.180258e-6,"bytes":[32,119,111,114,108,100]}]}

              data: {"type":"transcript.text.delta","delta":".","logprobs":[{"token":".","logprob":-0.014231676,"bytes":[46]}]}

              data: {"type":"transcript.text.done","text":"I see skies of blue and clouds of white, the bright blessed days, the dark sacred nights, and I think to myself, what a wonderful world.","logprobs":[{"token":"I","logprob":-0.00007588794,"bytes":[73]},{"token":" see","logprob":-3.1281633e-7,"bytes":[32,115,101,101]},{"token":" skies","logprob":-2.3392786e-6,"bytes":[32,115,107,105,101,115]},{"token":" of","logprob":-3.1281633e-7,"bytes":[32,111,102]},{"token":" blue","logprob":-1.0280384e-6,"bytes":[32,98,108,117,101]},{"token":" and","logprob":-0.0005108566,"bytes":[32,97,110,100]},{"token":" clouds","logprob":-1.9361265e-7,"bytes":[32,99,108,111,117,100,115]},{"token":" of","logprob":-1.9361265e-7,"bytes":[32,111,102]},{"token":" white","logprob":-7.89631e-7,"bytes":[32,119,104,105,116,101]},{"token":",","logprob":-0.0014890312,"bytes":[44]},{"token":" the","logprob":-0.0110956915,"bytes":[32,116,104,101]},{"token":" bright","logprob":0.0,"bytes":[32,98,114,105,103,104,116]},{"token":" blessed","logprob":-0.000045848617,"bytes":[32,98,108,101,115,115,101,100]},{"token":" days","logprob":-0.000010802739,"bytes":[32,100,97,121,115]},{"token":",","logprob":-0.00001700133,"bytes":[44]},{"token":" the","logprob":-0.0000118755715,"bytes":[32,116,104,101]},{"token":" dark","logprob":-5.5122365e-7,"bytes":[32,100,97,114,107]},{"token":" sacred","logprob":-5.4385737e-6,"bytes":[32,115,97,99,114,101,100]},{"token":" nights","logprob":-4.00813e-6,"bytes":[32,110,105,103,104,116,115]},{"token":",","logprob":-0.0036910512,"bytes":[44]},{"token":" and","logprob":-0.0031903093,"bytes":[32,97,110,100]},{"token":" I","logprob":-1.504853e-6,"bytes":[32,73]},{"token":" think","logprob":-4.3202e-7,"bytes":[32,116,104,105,110,107]},{"token":" to","logprob":-1.9361265e-7,"bytes":[32,116,111]},{"token":" myself","logprob":-1.7432603e-6,"bytes":[32,109,121,115,101,108,102]},{"token":",","logprob":-0.29254505,"bytes":[44]},{"token":" what","logprob":-0.016815351,"bytes":[32,119,104,97,116]},{"token":" a","logprob":-3.1281633e-7,"bytes":[32,97]},{"token":" wonderful","logprob":-2.1008714e-6,"bytes":[32,119,111,110,100,101,114,102,117,108]},{"token":" world","logprob":-8.180258e-6,"bytes":[32,119,111,114,108,100]},{"token":".","logprob":-0.014231676,"bytes":[46]}],"usage":{"input_tokens":14,"input_token_details":{"text_tokens":0,"audio_tokens":14},"output_tokens":45,"total_tokens":59}}
          - title: Logprobs
            request:
              curl: |
                curl https://api.openai.com/v1/audio/transcriptions \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -H "Content-Type: multipart/form-data" \
                  -F file="@/path/to/file/audio.mp3" \
                  -F "include[]=logprobs" \
                  -F model="gpt-4o-transcribe" \
                  -F response_format="json"
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                transcription = client.audio.transcriptions.create(
                    file=b"raw file contents",
                    model="gpt-4o-transcribe",
                )
                print(transcription)
              javascript: |
                import fs from "fs";
                import OpenAI from "openai";

                const openai = new OpenAI();

                async function main() {
                  const transcription = await openai.audio.transcriptions.create({
                    file: fs.createReadStream("audio.mp3"),
                    model: "gpt-4o-transcribe",
                    response_format: "json",
                    include: ["logprobs"]
                  });

                  console.log(transcription);
                }
                main();
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const transcription = await client.audio.transcriptions.create({
                  file: fs.createReadStream('speech.mp3'),
                  model: 'gpt-4o-transcribe',
                });

                console.log(transcription);
              go: |
                package main

                import (
                  "bytes"
                  "context"
                  "fmt"
                  "io"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"),
                  )
                  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{
                    File: io.Reader(bytes.NewBuffer([]byte("some file contents"))),
                    Model: openai.AudioModelGPT4oTranscribe,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", transcription)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.audio.AudioModel;
                import com.openai.models.audio.transcriptions.TranscriptionCreateParams;
                import com.openai.models.audio.transcriptions.TranscriptionCreateResponse;
                import java.io.ByteArrayInputStream;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        TranscriptionCreateParams params = TranscriptionCreateParams.builder()
                            .file(ByteArrayInputStream("some content".getBytes()))
                            .model(AudioModel.GPT_4O_TRANSCRIBE)
                            .build();
                        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);
                    }
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(api_key: "My API Key")

                transcription = openai.audio.transcriptions.create(file: Pathname(__FILE__), model: :"gpt-4o-transcribe")

                puts(transcription)
            response: |
              {
                "text": "Hey, my knee is hurting and I want to see the doctor tomorrow ideally.",
                "logprobs": [
                  { "token": "Hey", "logprob": -1.0415299, "bytes": [72, 101, 121] },
                  { "token": ",", "logprob": -9.805982e-5, "bytes": [44] },
                  { "token": " my", "logprob": -0.00229799, "bytes": [32, 109, 121] },
                  {
                    "token": " knee",
                    "logprob": -4.7159858e-5,
                    "bytes": [32, 107, 110, 101, 101]
                  },
                  { "token": " is", "logprob": -0.043909557, "bytes": [32, 105, 115] },
                  {
                    "token": " hurting",
                    "logprob": -1.1041146e-5,
                    "bytes": [32, 104, 117, 114, 116, 105, 110, 103]
                  },
                  { "token": " and", "logprob": -0.011076359, "bytes": [32, 97, 110, 100] },
                  { "token": " I", "logprob": -5.3193703e-6, "bytes": [32, 73] },
                  {
                    "token": " want",
                    "logprob": -0.0017156356,
                    "bytes": [32, 119, 97, 110, 116]
                  },
                  { "token": " to", "logprob": -7.89631e-7, "bytes": [32, 116, 111] },
                  { "token": " see", "logprob": -5.5122365e-7, "bytes": [32, 115, 101, 101] },
                  { "token": " the", "logprob": -0.0040786397, "bytes": [32, 116, 104, 101] },
                  {
                    "token": " doctor",
                    "logprob": -2.3392786e-6,
                    "bytes": [32, 100, 111, 99, 116, 111, 114]
                  },
                  {
                    "token": " tomorrow",
                    "logprob": -7.89631e-7,
                    "bytes": [32, 116, 111, 109, 111, 114, 114, 111, 119]
                  },
                  {
                    "token": " ideally",
                    "logprob": -0.5800861,
                    "bytes": [32, 105, 100, 101, 97, 108, 108, 121]
                  },
                  { "token": ".", "logprob": -0.00011093382, "bytes": [46] }
                ],
                "usage": {
                  "type": "tokens",
                  "input_tokens": 14,
                  "input_token_details": {
                    "text_tokens": 0,
                    "audio_tokens": 14
                  },
                  "output_tokens": 45,
                  "total_tokens": 59
                }
              }
          - title: Word timestamps
            request:
              curl: |
                curl https://api.openai.com/v1/audio/transcriptions \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -H "Content-Type: multipart/form-data" \
                  -F file="@/path/to/file/audio.mp3" \
                  -F "timestamp_granularities[]=word" \
                  -F model="whisper-1" \
                  -F response_format="verbose_json"
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                transcription = client.audio.transcriptions.create(
                    file=b"raw file contents",
                    model="gpt-4o-transcribe",
                )
                print(transcription)
              javascript: |
                import fs from "fs";
                import OpenAI from "openai";

                const openai = new OpenAI();

                async function main() {
                  const transcription = await openai.audio.transcriptions.create({
                    file: fs.createReadStream("audio.mp3"),
                    model: "whisper-1",
                    response_format: "verbose_json",
                    timestamp_granularities: ["word"]
                  });

                  console.log(transcription.text);
                }
                main();
              csharp: |
                using System;

                using OpenAI.Audio;

                string audioFilePath = "audio.mp3";

                AudioClient client = new(
                    model: "whisper-1",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                AudioTranscriptionOptions options = new()
                {
                    ResponseFormat = AudioTranscriptionFormat.Verbose,
                    TimestampGranularities = AudioTimestampGranularities.Word,
                };

                AudioTranscription transcription = client.TranscribeAudio(audioFilePath, options);

                Console.WriteLine($"{transcription.Text}");
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const transcription = await client.audio.transcriptions.create({
                  file: fs.createReadStream('speech.mp3'),
                  model: 'gpt-4o-transcribe',
                });

                console.log(transcription);
              go: |
                package main

                import (
                  "bytes"
                  "context"
                  "fmt"
                  "io"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"),
                  )
                  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{
                    File: io.Reader(bytes.NewBuffer([]byte("some file contents"))),
                    Model: openai.AudioModelGPT4oTranscribe,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", transcription)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.audio.AudioModel;
                import com.openai.models.audio.transcriptions.TranscriptionCreateParams;
                import com.openai.models.audio.transcriptions.TranscriptionCreateResponse;
                import java.io.ByteArrayInputStream;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        TranscriptionCreateParams params = TranscriptionCreateParams.builder()
                            .file(ByteArrayInputStream("some content".getBytes()))
                            .model(AudioModel.GPT_4O_TRANSCRIBE)
                            .build();
                        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);
                    }
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(api_key: "My API Key")

                transcription = openai.audio.transcriptions.create(file: Pathname(__FILE__), model: :"gpt-4o-transcribe")

                puts(transcription)
            response: |
              {
                "task": "transcribe",
                "language": "english",
                "duration": 8.470000267028809,
                "text": "The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball.",
                "words": [
                  {
                    "word": "The",
                    "start": 0.0,
                    "end": 0.23999999463558197
                  },
                  ...
                  {
                    "word": "volleyball",
                    "start": 7.400000095367432,
                    "end": 7.900000095367432
                  }
                ],
                "usage": {
                  "type": "duration",
                  "seconds": 9
                }
              }
          - title: Segment timestamps
            request:
              curl: |
                curl https://api.openai.com/v1/audio/transcriptions \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -H "Content-Type: multipart/form-data" \
                  -F file="@/path/to/file/audio.mp3" \
                  -F "timestamp_granularities[]=segment" \
                  -F model="whisper-1" \
                  -F response_format="verbose_json"
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                transcription = client.audio.transcriptions.create(
                    file=b"raw file contents",
                    model="gpt-4o-transcribe",
                )
                print(transcription)
              javascript: |
                import fs from "fs";
                import OpenAI from "openai";

                const openai = new OpenAI();

                async function main() {
                  const transcription = await openai.audio.transcriptions.create({
                    file: fs.createReadStream("audio.mp3"),
                    model: "whisper-1",
                    response_format: "verbose_json",
                    timestamp_granularities: ["segment"]
                  });

                  console.log(transcription.text);
                }
                main();
              csharp: |
                using System;

                using OpenAI.Audio;

                string audioFilePath = "audio.mp3";

                AudioClient client = new(
                    model: "whisper-1",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                AudioTranscriptionOptions options = new()
                {
                    ResponseFormat = AudioTranscriptionFormat.Verbose,
                    TimestampGranularities = AudioTimestampGranularities.Segment,
                };

                AudioTranscription transcription = client.TranscribeAudio(audioFilePath, options);

                Console.WriteLine($"{transcription.Text}");
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const transcription = await client.audio.transcriptions.create({
                  file: fs.createReadStream('speech.mp3'),
                  model: 'gpt-4o-transcribe',
                });

                console.log(transcription);
              go: |
                package main

                import (
                  "bytes"
                  "context"
                  "fmt"
                  "io"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"),
                  )
                  transcription, err := client.Audio.Transcriptions.New(context.TODO(), openai.AudioTranscriptionNewParams{
                    File: io.Reader(bytes.NewBuffer([]byte("some file contents"))),
                    Model: openai.AudioModelGPT4oTranscribe,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", transcription)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.audio.AudioModel;
                import com.openai.models.audio.transcriptions.TranscriptionCreateParams;
                import com.openai.models.audio.transcriptions.TranscriptionCreateResponse;
                import java.io.ByteArrayInputStream;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        TranscriptionCreateParams params = TranscriptionCreateParams.builder()
                            .file(ByteArrayInputStream("some content".getBytes()))
                            .model(AudioModel.GPT_4O_TRANSCRIBE)
                            .build();
                        TranscriptionCreateResponse transcription = client.audio().transcriptions().create(params);
                    }
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(api_key: "My API Key")

                transcription = openai.audio.transcriptions.create(file: Pathname(__FILE__), model: :"gpt-4o-transcribe")

                puts(transcription)
            response: |
              {
                "task": "transcribe",
                "language": "english",
                "duration": 8.470000267028809,
                "text": "The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball.",
                "segments": [
                  {
                    "id": 0,
                    "seek": 0,
                    "start": 0.0,
                    "end": 3.319999933242798,
                    "text": " The beach was a popular spot on a hot summer day.",
                    "tokens": [
                      50364, 440, 7534, 390, 257, 3743, 4008, 322, 257, 2368, 4266, 786, 13, 50530
                    ],
                    "temperature": 0.0,
                    "avg_logprob": -0.2860786020755768,
                    "compression_ratio": 1.2363636493682861,
                    "no_speech_prob": 0.00985979475080967
                  },
                  ...
                ],
                "usage": {
                  "type": "duration",
                  "seconds": 9
                }
              }
      description: Transcribes audio into the input language.
      parameters: []
  /audio/translations:
    post:
      operationId: createTranslation
      tags:
        - Audio
      summary: Create translation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranslationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/CreateTranslationResponseJson'
                  - $ref: '#/components/schemas/CreateTranslationResponseVerboseJson'
                    x-stainless-skip:
                      - go
      x-oaiMeta:
        name: Create translation
        group: audio
        returns: The translated text.
        examples:
          response: |
            {
              "text": "Hello, my name is Wolfgang and I come from Germany. Where are you heading today?"
            }
          request:
            curl: |
              curl https://api.openai.com/v1/audio/translations \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -H "Content-Type: multipart/form-data" \
                -F file="@/path/to/file/german.m4a" \
                -F model="whisper-1"
            python: |-
              import os
              from openai import OpenAI

              client = OpenAI(
                  api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
              )
              translation = client.audio.translations.create(
                  file=b"raw file contents",
                  model="whisper-1",
              )
              print(translation)
            javascript: |
              import fs from "fs";
              import OpenAI from "openai";

              const openai = new OpenAI();

              async function main() {
                  const translation = await openai.audio.translations.create({
                      file: fs.createReadStream("speech.mp3"),
                      model: "whisper-1",
                  });

                  console.log(translation.text);
              }
              main();
            csharp: |
              using System;

              using OpenAI.Audio;

              string audioFilePath = "audio.mp3";

              AudioClient client = new(
                  model: "whisper-1",
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );

              AudioTranscription transcription = client.TranscribeAudio(audioFilePath);

              Console.WriteLine($"{transcription.Text}");
            node.js: |-
              import OpenAI from 'openai';

              const client = new OpenAI({
                apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
              });

              const translation = await client.audio.translations.create({
                file: fs.createReadStream('speech.mp3'),
                model: 'whisper-1',
              });

              console.log(translation);
            go: |
              package main

              import (
                "bytes"
                "context"
                "fmt"
                "io"

                "github.com/openai/openai-go"
                "github.com/openai/openai-go/option"
              )

              func main() {
                client := openai.NewClient(
                  option.WithAPIKey("My API Key"),
                )
                translation, err := client.Audio.Translations.New(context.TODO(), openai.AudioTranslationNewParams{
                  File: io.Reader(bytes.NewBuffer([]byte("some file contents"))),
                  Model: openai.AudioModelWhisper1,
                })
                if err != nil {
                  panic(err.Error())
                }
                fmt.Printf("%+v\n", translation)
              }
            java: |-
              package com.openai.example;

              import com.openai.client.OpenAIClient;
              import com.openai.client.okhttp.OpenAIOkHttpClient;
              import com.openai.models.audio.AudioModel;
              import com.openai.models.audio.translations.TranslationCreateParams;
              import com.openai.models.audio.translations.TranslationCreateResponse;
              import java.io.ByteArrayInputStream;

              public final class Main {
                  private Main() {}

                  public static void main(String[] args) {
                      OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                      TranslationCreateParams params = TranslationCreateParams.builder()
                          .file(ByteArrayInputStream("some content".getBytes()))
                          .model(AudioModel.WHISPER_1)
                          .build();
                      TranslationCreateResponse translation = client.audio().translations().create(params);
                  }
              }
            ruby: |-
              require "openai"

              openai = OpenAI::Client.new(api_key: "My API Key")

              translation = openai.audio.translations.create(file: Pathname(__FILE__), model: :"whisper-1")

              puts(translation)
      description: Translates audio into English.
      parameters: []
  /audio/voices:
    post:
      operationId: createVoice
      tags:
        - Audio
      summary: Create voice
      description: Creates a custom voice.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateVoiceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResource'
      x-oaiMeta:
        name: Create voice
        group: audio
        returns: The created voice.
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.openai.com/v1/audio/voices \
                  -X POST \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -F "name=My new voice" \
                  -F "consent=cons_1234" \
                  -F "audio_sample=@$HOME/audio_sample.wav;type=audio/x-wav"
      parameters: []
  /realtime/client_secrets:
    post:
      summary: Create client secret
      operationId: create-realtime-client-secret
      tags:
        - Realtime
      requestBody:
        description: Create a client secret with the given session configuration.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealtimeCreateClientSecretRequest'
      responses:
        '200':
          description: Client secret created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeCreateClientSecretResponse'
      x-oaiMeta:
        name: Create client secret
        group: realtime
        returns: The created client secret and the effective session object. The client secret is a string that looks like `ek_1234`.
        examples:
          response: |
            {
              "value": "ek_68af296e8e408191a1120ab6383263c2",
              "expires_at": 1756310470,
              "session": {
                "type": "realtime",
                "object": "realtime.session",
                "id": "sess_C9CiUVUzUzYIssh3ELY1d",
                "model": "gpt-realtime",
                "output_modalities": [
                  "audio"
                ],
                "instructions": "You are a friendly assistant.",
                "tools": [],
                "tool_choice": "auto",
                "max_output_tokens": "inf",
                "tracing": null,
                "truncation": "auto",
                "prompt": null,
                "expires_at": 0,
                "audio": {
                  "input": {
                    "format": {
                      "type": "audio/pcm",
                      "rate": 24000
                    },
                    "transcription": null,
                    "noise_reduction": null,
                    "turn_detection": {
                      "type": "server_vad",
                    }
                  },
                  "output": {
                    "format": {
                      "type": "audio/pcm",
                      "rate": 24000
                    },
                    "voice": "alloy",
                    "speed": 1.0
                  }
                },
                "include": null
              }
            }
          request:
            curl: |
              curl -X POST https://api.openai.com/v1/realtime/client_secrets \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -H "Content-Type: application/json" \
                -d '{
                  "expires_after": {
                    "anchor": "created_at",
                    "seconds": 600
                  },
                  "session": {
                    "type": "realtime",
                    "model": "gpt-realtime",
                    "instructions": "You are a friendly assistant."
                  }
                }'
            node.js: |-
              import OpenAI from 'openai';

              const client = new OpenAI({
                apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
              });

              const clientSecret = await client.realtime.clientSecrets.create();

              console.log(clientSecret.expires_at);
            python: |-
              import os
              from openai import OpenAI

              client = OpenAI(
                  api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
              )
              client_secret = client.realtime.client_secrets.create()
              print(client_secret.expires_at)
            go: |
              package main

              import (
                "context"
                "fmt"

                "github.com/openai/openai-go"
                "github.com/openai/openai-go/option"
                "github.com/openai/openai-go/realtime"
              )

              func main() {
                client := openai.NewClient(
                  option.WithAPIKey("My API Key"),
                )
                clientSecret, err := client.Realtime.ClientSecrets.New(context.TODO(), realtime.ClientSecretNewParams{

                })
                if err != nil {
                  panic(err.Error())
                }
                fmt.Printf("%+v\n", clientSecret.ExpiresAt)
              }
            java: |-
              package com.openai.example;

              import com.openai.client.OpenAIClient;
              import com.openai.client.okhttp.OpenAIOkHttpClient;
              import com.openai.models.realtime.clientsecrets.ClientSecretCreateParams;
              import com.openai.models.realtime.clientsecrets.ClientSecretCreateResponse;

              public final class Main {
                  private Main() {}

                  public static void main(String[] args) {
                      OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                      ClientSecretCreateResponse clientSecret = client.realtime().clientSecrets().create();
                  }
              }
            ruby: |-
              require "openai"

              openai = OpenAI::Client.new(api_key: "My API Key")

              client_secret = openai.realtime.client_secrets.create

              puts(client_secret)
      description: |
        Create a Realtime client secret with an associated session configuration.
      parameters: []
  /realtime/sessions:
    post:
      summary: Create session
      operationId: create-realtime-session
      tags:
        - Realtime
      requestBody:
        description: Create an ephemeral API key with the given session configuration.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealtimeSessionCreateRequest'
      responses:
        '200':
          description: Session created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeSessionCreateResponse'
      x-oaiMeta:
        name: Create session
        group: realtime
        returns: The created Realtime session object, plus an ephemeral key
        examples:
          request:
            curl: |
              curl -X POST https://api.openai.com/v1/realtime/sessions \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -H "Content-Type: application/json" \
                -d '{
                  "model": "gpt-realtime",
                  "modalities": ["audio", "text"],
                  "instructions": "You are a friendly assistant."
                }'
          response: |
            {
              "id": "sess_001",
              "object": "realtime.session",
              "model": "gpt-realtime-2025-08-25",
              "modalities": ["audio", "text"],
              "instructions": "You are a friendly assistant.",
              "voice": "alloy",
              "input_audio_format": "pcm16",
              "output_audio_format": "pcm16",
              "input_audio_transcription": {
                  "model": "whisper-1"
              },
              "turn_detection": null,
              "tools": [],
              "tool_choice": "none",
              "temperature": 0.7,
              "max_response_output_tokens": 200,
              "speed": 1.1,
              "tracing": "auto",
              "client_secret": {
                "value": "ek_abc123", 
                "expires_at": 1234567890
              }
            }
      description: |
        Create an ephemeral API token for use in client-side applications with the
        Realtime API. Can be configured with the same session parameters as the
        `session.update` client event.

        It responds with a session object, plus a `client_secret` key which contains
        a usable ephemeral API token that can be used to authenticate browser clients
        for the Realtime API.
      parameters: []
  /realtime/transcription_sessions:
    post:
      summary: Create transcription session
      operationId: create-realtime-transcription-session
      tags:
        - Realtime
      requestBody:
        description: Create an ephemeral API key with the given session configuration.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealtimeTranscriptionSessionCreateRequest'
      responses:
        '200':
          description: Session created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeTranscriptionSessionCreateResponse'
      x-oaiMeta:
        name: Create transcription session
        group: realtime
        returns: The created [Realtime transcription session object](https://platform.openai.com/docs/api-reference/realtime-sessions/transcription_session_object), plus an ephemeral key
        examples:
          request:
            curl: |
              curl -X POST https://api.openai.com/v1/realtime/transcription_sessions \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -H "Content-Type: application/json" \
                -d '{}'
          response: |
            {
              "id": "sess_BBwZc7cFV3XizEyKGDCGL",
              "object": "realtime.transcription_session",
              "modalities": ["audio", "text"],
              "turn_detection": {
                "type": "server_vad",
                "threshold": 0.5,
                "prefix_padding_ms": 300,
                "silence_duration_ms": 200
              },
              "input_audio_format": "pcm16",
              "input_audio_transcription": {
                "model": "gpt-4o-transcribe",
                "language": null,
                "prompt": ""
              },
              "client_secret": null
            }
      description: |
        Create an ephemeral API token for use in client-side applications with the
        Realtime API specifically for realtime transcriptions. 
        Can be configured with the same session parameters as the `transcription_session.update` client event.

        It responds with a session object, plus a `client_secret` key which contains
        a usable ephemeral API token that can be used to authenticate browser clients
        for the Realtime API.
      parameters: []
webhooks:
  batch_cancelled:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookBatchCancelled'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried.
  batch_completed:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookBatchCompleted'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried.
  batch_expired:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookBatchExpired'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried.
  batch_failed:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookBatchFailed'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried.
  eval_run_canceled:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvalRunCanceled'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried. 
  eval_run_failed:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvalRunFailed'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried. 
  eval_run_succeeded:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvalRunSucceeded'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried. 
  fine_tuning_job_cancelled:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookFineTuningJobCancelled'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried. 
  fine_tuning_job_failed:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookFineTuningJobFailed'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried. 
  fine_tuning_job_succeeded:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookFineTuningJobSucceeded'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried. 
  realtime_call_incoming:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRealtimeCallIncoming'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200
            status codes will be retried.
  response_cancelled:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookResponseCancelled'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried.
  response_completed:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookResponseCompleted'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried. 
  response_failed:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookResponseFailed'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried.
  response_incomplete:
    post:
      requestBody:
        description: The event payload sent by the API.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookResponseIncomplete'
      responses:
        '200':
          description: |
            Return a 200 status code to acknowledge receipt of the event. Non-200 
            status codes will be retried.
components:
  schemas:
    AudioResponseFormat:
      description: |
        The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, `vtt`, or `diarized_json`. For `gpt-4o-transcribe` and `gpt-4o-mini-transcribe`, the only supported format is `json`. For `gpt-4o-transcribe-diarize`, the supported formats are `json`, `text`, and `diarized_json`, with `diarized_json` required to receive speaker annotations.
      type: string
      enum:
        - json
        - text
        - srt
        - verbose_json
        - vtt
        - diarized_json
      default: json
    AudioTranscription:
      type: object
      properties:
        model:
          description: |
            The model to use for transcription. Current options are `whisper-1`, `gpt-4o-mini-transcribe`, `gpt-4o-mini-transcribe-2025-12-15`, `gpt-4o-transcribe`, and `gpt-4o-transcribe-diarize`. Use `gpt-4o-transcribe-diarize` when you need diarization with speaker labels.
          anyOf:
            - type: string
            - type: string
              enum:
                - whisper-1
                - gpt-4o-mini-transcribe
                - gpt-4o-mini-transcribe-2025-12-15
                - gpt-4o-transcribe
                - gpt-4o-transcribe-diarize
        language:
          type: string
          description: |
            The language of the input audio. Supplying the input language in
            [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. `en`) format
            will improve accuracy and latency.
        prompt:
          type: string
          description: |
            An optional text to guide the model's style or continue a previous audio
            segment.
            For `whisper-1`, the [prompt is a list of keywords](https://platform.openai.com/docs/guides/speech-to-text#prompting).
            For `gpt-4o-transcribe` models (excluding `gpt-4o-transcribe-diarize`), the prompt is a free text string, for example "expect words related to technology".
    CreateSpeechRequest:
      type: object
      additionalProperties: false
      properties:
        model:
          description: |
            One of the available [TTS models](https://platform.openai.com/docs/models#tts): `tts-1`, `tts-1-hd`, `gpt-4o-mini-tts`, or `gpt-4o-mini-tts-2025-12-15`.
          anyOf:
            - type: string
            - type: string
              enum:
                - tts-1
                - tts-1-hd
                - gpt-4o-mini-tts
                - gpt-4o-mini-tts-2025-12-15
              x-stainless-nominal: false
          x-oaiTypeLabel: string
        input:
          type: string
          description: The text to generate audio for. The maximum length is 4096 characters.
          maxLength: 4096
        instructions:
          type: string
          description: Control the voice of your generated audio with additional instructions. Does not work with `tts-1` or `tts-1-hd`.
          maxLength: 4096
        voice:
          description: The voice to use when generating the audio. Supported built-in voices are `alloy`, `ash`, `ballad`, `coral`, `echo`, `fable`, `onyx`, `nova`, `sage`, `shimmer`, `verse`, `marin`, and `cedar`. Previews of the voices are available in the [Text to speech guide](https://platform.openai.com/docs/guides/text-to-speech#voice-options).
          $ref: '#/components/schemas/VoiceIdsShared'
        response_format:
          description: The format to audio in. Supported formats are `mp3`, `opus`, `aac`, `flac`, `wav`, and `pcm`.
          default: mp3
          type: string
          enum:
            - mp3
            - opus
            - aac
            - flac
            - wav
            - pcm
        speed:
          description: The speed of the generated audio. Select a value from `0.25` to `4.0`. `1.0` is the default.
          type: number
          default: 1
          minimum: 0.25
          maximum: 4
        stream_format:
          description: The format to stream the audio in. Supported formats are `sse` and `audio`. `sse` is not supported for `tts-1` or `tts-1-hd`.
          type: string
          default: audio
          enum:
            - sse
            - audio
      required:
        - model
        - input
        - voice
    CreateSpeechResponseStreamEvent:
      anyOf:
        - $ref: '#/components/schemas/SpeechAudioDeltaEvent'
        - $ref: '#/components/schemas/SpeechAudioDoneEvent'
      discriminator:
        propertyName: type
    CreateTranscriptionRequest:
      type: object
      additionalProperties: false
      properties:
        file:
          description: |
            The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.
          type: string
          x-oaiTypeLabel: file
          format: binary
          x-oaiMeta:
            exampleFilePath: speech.mp3
        model:
          description: |
            ID of the model to use. The options are `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, `gpt-4o-mini-transcribe-2025-12-15`, `whisper-1` (which is powered by our open source Whisper V2 model), and `gpt-4o-transcribe-diarize`.
          example: gpt-4o-transcribe
          anyOf:
            - type: string
            - type: string
              enum:
                - whisper-1
                - gpt-4o-transcribe
                - gpt-4o-mini-transcribe
                - gpt-4o-mini-transcribe-2025-12-15
                - gpt-4o-transcribe-diarize
              x-stainless-const: true
              x-stainless-nominal: false
          x-oaiTypeLabel: string
        language:
          description: |
            The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. `en`) format will improve accuracy and latency.
          type: string
        prompt:
          description: |
            An optional text to guide the model's style or continue a previous audio segment. The [prompt](https://platform.openai.com/docs/guides/speech-to-text#prompting) should match the audio language. This field is not supported when using `gpt-4o-transcribe-diarize`.
          type: string
        response_format:
          $ref: '#/components/schemas/AudioResponseFormat'
        temperature:
          description: |
            The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.
          type: number
          default: 0
        include:
          description: |
            Additional information to include in the transcription response.
            `logprobs` will return the log probabilities of the tokens in the
            response to understand the model's confidence in the transcription.
            `logprobs` only works with response_format set to `json` and only with
            the models `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, and `gpt-4o-mini-transcribe-2025-12-15`. This field is not supported when using `gpt-4o-transcribe-diarize`.
          type: array
          items:
            $ref: '#/components/schemas/TranscriptionInclude'
        timestamp_granularities:
          description: |
            The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency.
            This option is not available for `gpt-4o-transcribe-diarize`.
          type: array
          items:
            type: string
            enum:
              - word
              - segment
          default:
            - segment
        stream:
          anyOf:
            - description: |
                If set to true, the model response data will be streamed to the client
                as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).
                See the [Streaming section of the Speech-to-Text guide](https://platform.openai.com/docs/guides/speech-to-text?lang=curl#streaming-transcriptions)
                for more information.

                Note: Streaming is not supported for the `whisper-1` model and will be ignored.
              type: boolean
              default: false
            - type: 'null'
        chunking_strategy:
          $ref: '#/components/schemas/TranscriptionChunkingStrategy'
        known_speaker_names:
          description: |
            Optional list of speaker names that correspond to the audio samples provided in `known_speaker_references[]`. Each entry should be a short identifier (for example `customer` or `agent`). Up to 4 speakers are supported.
          type: array
          maxItems: 4
          items:
            type: string
        known_speaker_references:
          description: |
            Optional list of audio samples (as [data URLs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URLs)) that contain known speaker references matching `known_speaker_names[]`. Each sample must be between 2 and 10 seconds, and can use any of the same input audio formats supported by `file`.
          type: array
          maxItems: 4
          items:
            type: string
      required:
        - file
        - model
    CreateTranscriptionResponseDiarizedJson:
      type: object
      description: |
        Represents a diarized transcription response returned by the model, including the combined transcript and speaker-segment annotations.
      properties:
        task:
          type: string
          description: The type of task that was run. Always `transcribe`.
          enum:
            - transcribe
          x-stainless-const: true
        duration:
          type: number
          description: Duration of the input audio in seconds.
        text:
          type: string
          description: The concatenated transcript text for the entire audio input.
        segments:
          type: array
          description: Segments of the transcript annotated with timestamps and speaker labels.
          items:
            $ref: '#/components/schemas/TranscriptionDiarizedSegment'
        usage:
          type: object
          description: Token or duration usage statistics for the request.
          discriminator:
            propertyName: type
          anyOf:
            - $ref: '#/components/schemas/TranscriptTextUsageTokens'
              title: Token Usage
            - $ref: '#/components/schemas/TranscriptTextUsageDuration'
              title: Duration Usage
      required:
        - task
        - duration
        - text
        - segments
      x-oaiMeta:
        name: The transcription object (Diarized JSON)
        group: audio
        example: |
          {
            "task": "transcribe",
            "duration": 42.7,
            "text": "Agent: Thanks for calling OpenAI support.\nCustomer: Hi, I need help with diarization.",
            "segments": [
              {
                "type": "transcript.text.segment",
                "id": "seg_001",
                "start": 0.0,
                "end": 5.2,
                "text": "Thanks for calling OpenAI support.",
                "speaker": "agent"
              },
              {
                "type": "transcript.text.segment",
                "id": "seg_002",
                "start": 5.2,
                "end": 12.8,
                "text": "Hi, I need help with diarization.",
                "speaker": "A"
              }
            ],
            "usage": {
              "type": "duration",
              "seconds": 43
            }
          }
    CreateTranscriptionResponseJson:
      type: object
      description: Represents a transcription response returned by model, based on the provided input.
      properties:
        text:
          type: string
          description: The transcribed text.
        logprobs:
          type: array
          optional: true
          description: |
            The log probabilities of the tokens in the transcription. Only returned with the models `gpt-4o-transcribe` and `gpt-4o-mini-transcribe` if `logprobs` is added to the `include` array.
          items:
            type: object
            properties:
              token:
                type: string
                description: The token in the transcription.
              logprob:
                type: number
                description: The log probability of the token.
              bytes:
                type: array
                items:
                  type: number
                description: The bytes of the token.
        usage:
          type: object
          description: Token usage statistics for the request.
          anyOf:
            - $ref: '#/components/schemas/TranscriptTextUsageTokens'
              title: Token Usage
            - $ref: '#/components/schemas/TranscriptTextUsageDuration'
              title: Duration Usage
          discriminator:
            propertyName: type
      required:
        - text
      x-oaiMeta:
        name: The transcription object (JSON)
        group: audio
        example: |
          {
            "text": "Imagine the wildest idea that you've ever had, and you're curious about how it might scale to something that's a 100, a 1,000 times bigger. This is a place where you can get to do that.",
            "usage": {
              "type": "tokens",
              "input_tokens": 14,
              "input_token_details": {
                "text_tokens": 10,
                "audio_tokens": 4
              },
              "output_tokens": 101,
              "total_tokens": 115
            }
          }
    CreateTranscriptionResponseStreamEvent:
      anyOf:
        - $ref: '#/components/schemas/TranscriptTextSegmentEvent'
        - $ref: '#/components/schemas/TranscriptTextDeltaEvent'
        - $ref: '#/components/schemas/TranscriptTextDoneEvent'
      discriminator:
        propertyName: type
    CreateTranscriptionResponseVerboseJson:
      type: object
      description: Represents a verbose json transcription response returned by model, based on the provided input.
      properties:
        language:
          type: string
          description: The language of the input audio.
        duration:
          type: number
          description: The duration of the input audio.
        text:
          type: string
          description: The transcribed text.
        words:
          type: array
          description: Extracted words and their corresponding timestamps.
          items:
            $ref: '#/components/schemas/TranscriptionWord'
        segments:
          type: array
          description: Segments of the transcribed text and their corresponding details.
          items:
            $ref: '#/components/schemas/TranscriptionSegment'
        usage:
          $ref: '#/components/schemas/TranscriptTextUsageDuration'
      required:
        - language
        - duration
        - text
      x-oaiMeta:
        name: The transcription object (Verbose JSON)
        group: audio
        example: |
          {
            "task": "transcribe",
            "language": "english",
            "duration": 8.470000267028809,
            "text": "The beach was a popular spot on a hot summer day. People were swimming in the ocean, building sandcastles, and playing beach volleyball.",
            "segments": [
              {
                "id": 0,
                "seek": 0,
                "start": 0.0,
                "end": 3.319999933242798,
                "text": " The beach was a popular spot on a hot summer day.",
                "tokens": [
                  50364, 440, 7534, 390, 257, 3743, 4008, 322, 257, 2368, 4266, 786, 13, 50530
                ],
                "temperature": 0.0,
                "avg_logprob": -0.2860786020755768,
                "compression_ratio": 1.2363636493682861,
                "no_speech_prob": 0.00985979475080967
              },
              ...
            ],
            "usage": {
              "type": "duration",
              "seconds": 9
            }
          }
    CreateTranslationRequest:
      type: object
      additionalProperties: false
      properties:
        file:
          description: |
            The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.
          type: string
          x-oaiTypeLabel: file
          format: binary
          x-oaiMeta:
            exampleFilePath: speech.mp3
        model:
          description: |
            ID of the model to use. Only `whisper-1` (which is powered by our open source Whisper V2 model) is currently available.
          example: whisper-1
          anyOf:
            - type: string
            - type: string
              enum:
                - whisper-1
              x-stainless-const: true
          x-oaiTypeLabel: string
        prompt:
          description: |
            An optional text to guide the model's style or continue a previous audio segment. The [prompt](https://platform.openai.com/docs/guides/speech-to-text#prompting) should be in English.
          type: string
        response_format:
          description: |
            The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, or `vtt`.
          type: string
          enum:
            - json
            - text
            - srt
            - verbose_json
            - vtt
          default: json
        temperature:
          description: |
            The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.
          type: number
          default: 0
      required:
        - file
        - model
    CreateTranslationResponseJson:
      type: object
      properties:
        text:
          type: string
      required:
        - text
    CreateTranslationResponseVerboseJson:
      type: object
      properties:
        language:
          type: string
          description: The language of the output translation (always `english`).
        duration:
          type: number
          description: The duration of the input audio.
        text:
          type: string
          description: The translated text.
        segments:
          type: array
          description: Segments of the translated text and their corresponding details.
          items:
            $ref: '#/components/schemas/TranscriptionSegment'
      required:
        - language
        - duration
        - text
    CreateVoiceRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          description: The name of the new voice.
        audio_sample:
          type: string
          format: binary
          x-oaiTypeLabel: file
          description: |
            The sample audio recording file. Maximum size is 10 MiB.

            Supported MIME types:
            `audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.
        consent:
          type: string
          description: The consent recording ID (for example, `cons_1234`).
      required:
        - name
        - audio_sample
        - consent
    MCPTool:
      type: object
      title: MCP tool
      description: |
        Give the model access to additional tools via remote Model Context Protocol
        (MCP) servers. [Learn more about MCP](https://platform.openai.com/docs/guides/tools-remote-mcp).
      properties:
        type:
          type: string
          enum:
            - mcp
          description: The type of the MCP tool. Always `mcp`.
          x-stainless-const: true
        server_label:
          type: string
          description: |
            A label for this MCP server, used to identify it in tool calls.
        server_url:
          type: string
          description: |
            The URL for the MCP server. One of `server_url` or `connector_id` must be
            provided.
        connector_id:
          type: string
          enum:
            - connector_dropbox
            - connector_gmail
            - connector_googlecalendar
            - connector_googledrive
            - connector_microsoftteams
            - connector_outlookcalendar
            - connector_outlookemail
            - connector_sharepoint
          description: |
            Identifier for service connectors, like those available in ChatGPT. One of
            `server_url` or `connector_id` must be provided. Learn more about service
            connectors [here](https://platform.openai.com/docs/guides/tools-remote-mcp#connectors).

            Currently supported `connector_id` values are:

            - Dropbox: `connector_dropbox`
            - Gmail: `connector_gmail`
            - Google Calendar: `connector_googlecalendar`
            - Google Drive: `connector_googledrive`
            - Microsoft Teams: `connector_microsoftteams`
            - Outlook Calendar: `connector_outlookcalendar`
            - Outlook Email: `connector_outlookemail`
            - SharePoint: `connector_sharepoint`
        authorization:
          type: string
          description: |
            An OAuth access token that can be used with a remote MCP server, either
            with a custom MCP server URL or a service connector. Your application
            must handle the OAuth authorization flow and provide the token here.
        server_description:
          type: string
          description: |
            Optional description of the MCP server, used to provide more context.
        headers:
          anyOf:
            - type: object
              additionalProperties:
                type: string
              description: |
                Optional HTTP headers to send to the MCP server. Use for authentication
                or other purposes.
            - type: 'null'
        allowed_tools:
          anyOf:
            - description: |
                List of allowed tool names or a filter object.
              anyOf:
                - type: array
                  title: MCP allowed tools
                  description: A string array of allowed tool names
                  items:
                    type: string
[...]
